
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
}

<div class="single_product">
    <div class="container">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li data-image="images/sanpham/samsung_note_10_1.jpg">
                        <img src="images/sanpham/samsung_note_10_1.jpg" alt="">
                    </li>
                    <li data-image="images/sanpham/samsung_note_10_2.jpg">
                        <img src="images/sanpham/samsung_note_10_2.jpg" alt="">
                    </li>
                    <li data-image="images/sanpham/samsung_note_10_3.jpg">
                        <img src="images/sanpham/samsung_note_10_3.jpg" alt="">
                    </li>
                </ul>
            </div>

            <!-- Selected Image -->
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="image_selected"><img src="images/sanpham/samsung_note_10_1.jpg" alt=""></div>
            </div>
            <!-- Left Information -->
            <div class="col-lg-5 order-lg-2 order-1">

                <div class="tableparameter">

                    <h2 class="ten-san-pham">Samsung Galaxy Note 10</h2>
                    <span class="gia-san-pham">20,000,000 vnđ</span>
                    <br>
                    <span class="gia-goc-san-pham">40,000,000 vnđ</span> <span class="giam-gia">50%</span>
                    <br>
                    <br>
                    <span class="mo-ta-san-pham">
                        Trông ngoại hình khá giống nhau, tuy nhiên Samsung Galaxy Note
                        10+ sở hữu khá
                        nhiều điểm khác biệt so với Galaxy Note 10 và đây được xem là một trong những
                        chiếc máy đáng mua nhất trong năm 2019, đặc biệt dành cho những người thích một
                        chiếc máy màn hình lớn, camera chất lượng hàng đầu.
                    </span>
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="row mua-hang-1">
                            <div class="col-md-6">
                                <label for=""><strong>Số Lượng :</strong></label>
                                <input type="number" class="form-control" name="" id="" placeholder="1">
                            </div>
                            <div class="col-md-6 chon-mau">
                                <label for="select-"><strong>Chọn Màu</strong></label>
                                <select class="form-control" name="select-color" id="select-color">
                                    <option><span>Đen</span></option>
                                    <option><span>Trắng</span></option>
                                    <option><span>Xanh</span></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mua-hang-2">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary form-control btn-dat-hang">
                                    <i class="fas fa-shopping-cart"></i> Đặt Hàng
                                </button>
                            </div>
                            <div class="col-md-6">
                                <label for="yeu-thich"><strong>Yêu Thích :</strong></label>
                                <div class="product_fav"><i id="yeu-thich" class="fas fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="viewparameterfull" data-toggle="modal"
                            data-target="#myModal">
                        Xem thêm cấu hình chi
                        tiết
                    </button>


                    <div class=" closebtn none">
                        <i class="icondetail-closepara"></i>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="fullparameter" style="display: block;">
                                    <div class="scroll">
                                        <table id="chi-tiet" cellspacing="0"
                                               class="table table-bordered table-detail table-striped">
                                            <colgroup>
                                                <col style="width: 25%;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <td> Thương hiệu </td>
                                                    <td> Samsung </td>
                                                </tr>
                                                <tr>
                                                    <td> Phụ kiện đi kèm </td>
                                                    <td>
                                                        Adapter sạc, tai nghe, cáp Micro USB, sách hướng dẫn,
                                                        cây lấy sim
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Loại / Công nghệ màn hình </td>
                                                    <td> Dynamic AMOLED </td>
                                                </tr>
                                                <tr>
                                                    <td> Camera trước </td>
                                                    <td> 10.0 MP </td>
                                                </tr>
                                                <tr>
                                                    <td> Camera sau </td>
                                                    <td> 12.0 MP + 16.0 MP + 12.0 MP + VGA </td>
                                                </tr>
                                                <tr>
                                                    <td> Tính năng camera </td>
                                                    <td>
                                                        Zoom quang học, Chụp ảnh xóa phông, Chế độ Slow Motion,
                                                        A.I Camera, Điều chỉnh khẩu độ, Super Slow Motion (quay
                                                        siêu chậm), Tự động lấy nét, Chạm lấy nét, Nhận diện
                                                        khuôn mặt, HDR, Panorama, Chống rung quang học (OIS),
                                                        Làm đẹp (Beautify), Chế độ chụp chuyên nghiệp (Pro),
                                                        Camera góc rộng, Tự động lấy nét, Quay video Full HD,
                                                        Nhận diện khuôn mặt, Chế độ làm đẹp
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Đèn Flash </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Video call </td>
                                                    <td> Hỗ trợ VideoCall thông qua ứng dụng </td>
                                                </tr>
                                                <tr>
                                                    <td> Quay phim </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Bộ nhớ RAM </td>
                                                    <td> 12GB </td>
                                                </tr>
                                                <tr>
                                                    <td> Bộ nhớ trong (ROM) </td>
                                                    <td> 256GB </td>
                                                </tr>
                                                <tr>
                                                    <td> Bộ nhớ còn lại (khả dụng) </td>
                                                    <td> 224.2GB </td>
                                                </tr>
                                                <tr>
                                                    <td> Hỗ trợ thẻ nhớ ngoài </td>
                                                    <td> MicroSD </td>
                                                </tr>
                                                <tr>
                                                    <td> Hỗ trợ thẻ tối đa </td>
                                                    <td> Up to 1TB </td>
                                                </tr>
                                                <tr>
                                                    <td> Trọng lượng </td>
                                                    <td> 196g </td>
                                                </tr>
                                                <tr>
                                                    <td> Kích thước </td>
                                                    <td> 162.3 x 77.2 x 7.9 mm </td>
                                                </tr>
                                                <tr>
                                                    <td> Tên chip </td>
                                                    <td> Exynos 9825 8 nhân 64-bit </td>
                                                </tr>
                                                <tr>
                                                    <td> Tốc độ chip (GHz) </td>
                                                    <td> 2 nhân 2.73 GHz, 2 nhân 2.4 GHz & 4 nhân 1.9 GHz </td>
                                                </tr>
                                                <tr>
                                                    <td> Chip đồ họa (GPU) </td>
                                                    <td> Mali-G76 MP12 </td>
                                                </tr>
                                                <tr>
                                                    <td> Dung lượng pin (mAh) </td>
                                                    <td> 4300 mAh </td>
                                                </tr>
                                                <tr>
                                                    <td> Loại pin </td>
                                                    <td> Pin chuẩn Li-Ion </td>
                                                </tr>
                                                <tr>
                                                    <td> Pin có thể tháo rời </td>
                                                    <td> Pin liền </td>
                                                </tr>
                                                <tr>
                                                    <td> Kết nối dữ liệu </td>
                                                    <td> Bluetooth, Wifi, 3G, 2G, 4G, NFC </td>
                                                </tr>
                                                <tr>
                                                    <td> Loại Sim </td>
                                                    <td> SIM Nano </td>
                                                </tr>
                                                <tr>
                                                    <td> Số khe sim </td>
                                                    <td> 2 SIM Nano (SIM 2 chung khe thẻ nhớ) </td>
                                                </tr>
                                                <tr>
                                                    <td> Wifi </td>
                                                    <td>
                                                        Wi-Fi 802.11 a/b/g/n/ac, Dual-band, Wi-Fi Direct, Wi-Fi
                                                        hotspot
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> GPS </td>
                                                    <td> BDS, A-GPS, GLONASS </td>
                                                </tr>
                                                <tr>
                                                    <td> Bluetooth </td>
                                                    <td> apt-X, LE, A2DP, v5.0 </td>
                                                </tr>
                                                <tr>
                                                    <td> NFC </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Kết nối khác </td>
                                                    <td> OTG </td>
                                                </tr>
                                                <tr>
                                                    <td> Cổng sạc </td>
                                                    <td> USB Type-C </td>
                                                </tr>
                                                <tr>
                                                    <td> Jack tai nghe </td>
                                                    <td> Type-C </td>
                                                </tr>
                                                <tr>
                                                    <td> Xem phim </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Nghe nhạc </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Ghi âm </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> FM radio </td>
                                                    <td> Không </td>
                                                </tr>
                                                <tr>
                                                    <td> Chức năng khác </td>
                                                    <td>
                                                        Chuẩn Kháng nước, Chuẩn kháng bụi Đèn pin Sạc pin
                                                        nhanh Mặt kính 2.5D Chặn tin nhắn Tản nhiệt nước carbon
                                                        Samsung Pay Trợ lý ảo Samsung Bixby Màn hình luôn hiển
                                                        thị AOD Chặn cuộc gọi, Mở khóa bằng khuôn mặt, Quét mống
                                                        mắt, Mở khoá vân tay dưới màn hình
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> SKU </td>
                                                    <td> 4.24343E+12 </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

