.right-content-phan-2 {
    margin-top: 35px;
}

.khoang-cach {
    margin-top: 20px;
    margin-bottom: 20px;
}

.khoang-cach-xa {
    margin-top: 40px;
    margin-bottom: 40px;
}

.khoang-cach-noidung {}

.title-span {
    font-size: 20px;
    font-weight: 600;
    color: #2c3e50;
}

.ten-tai-khoan {
    font-size: 20px;
    color: #34495e;
}
#u-error-mess {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 26px;
}