@using Project_ASPNETMVC_2020.Model.ModelOfSession
@{
    var user = Session["User"] as User;
}
<div class="col-md-3 whitesmoke left-content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 bg-left-content">
            <div class="row bg-avatar">
                <div class="col-md-4">
                    <span class="fa-stack avatar">
                        <i class="fas fa-user fa-stack-1x avatar-user"></i>
                        <i class="far fa-circle fa-stack-2x circle-avatar-user"></i>
                    </span>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <span class="span-ten-nguoi-dung">@user.HO_TEN </span>
                    </div>
                    <div class="row">
                        <span class="span-sua-thong-tin"><i class="fas fa-pen"></i> Sửa Thông Tin</span>
                    </div>
                </div>
            </div>
            <div class="row left-content-phan-2">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ul>
                        <li><a href="@Url.Action("Index","User")"><i class="fas fa-portrait"></i> Hồ Sơ</a></li>
                        <li><a href="@Url.Action("DoiMK","User")"><i class="fas fa-key"></i> Thay Đổi Mật Khẩu</a></li>
                        <li><a href="@Url.Action("Logout","Home")"><i class="fas fa-sign-out-alt"></i> Đăng Xuất</a></li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
