@model dynamic

@{
    ViewBag.Title = "Đăng nhập";
}

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Đăng nhập</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Tên tài khoản" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Mật khẩu" required="" />
                        </div>
                        <div>
                            <a class="btn btn-danger submit " href="index.html">Đăng nhập</a>
                            <a class="reset_pass" href="#">Quên mật khẩu?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Thành viên mới?
                                <a href="dangki.html" class="to_register"> Đăng kí </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw">Blue</i></h1>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</body>
