@model dynamic

@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="right_col" role="main" style="min-height: 692px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Danh Sách Đơn Hàng Mới</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..."> <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a> <a class="dropdown-item" href="#">
                                        Settings
                                        2
                                    </a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">



                        <div class="table-responsive">





                            <div id="content-box">
                                <div id="content-wrapper">


                                    <table class="table table-striped jambo_table bulk_action">

                                        <thead>
                                            <tr class="headings">
                                                <th>
                                                    <div class="icheckbox_flat-green" style="position: relative;">
                                                        <input type="checkbox" id="check-all" class="flat"
                                                               style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper"
                                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                </th>
                                                <th class="column-title head-ms">Mã Số </th>
                                                <th class="column-title giua head-tnd">Tên Người Dùng </th>
                                                <th class="column-title giua">Địa Chỉ </th>
                                                <th class="column-title giua">Số Điện Thoại </th>
                                                <th class="column-title giua">Sản Phẩm </th>
                                                <th class="column-title giua head-trang-thai">Trạng Thái </th>
                                                <th class="column-title">Chấp Nhận </th>
                                                <th class="column-title no-link last"><span class="nobr">Từ Chối </span></th>
                                            </tr>
                                        </thead>

                                        <tbody id="bodyTable">





                                            <tr class="even pointer">
                                                <td class="a-center ">
                                                    <div class="icheckbox_flat-green" style="position: relative;">
                                                        <input type="checkbox" class="flat" name="table_records"
                                                               style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper"
                                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                </td>
                                                <td>TK1</td>
                                                <td>Nguyễn Huy Thành Sang</td>
                                                <td class="dia-chi">
                                                    1/36/19 đường Trục, phường 13, Quận Bình Thạnh, viet nam, Hồ Chí
                                                    Minh
                                                </td>
                                                <td>090 811 59 16</td>
                                                <td class="giua">
                                                    <ul>
                                                        <li>Xiaomi Redmi 7A <i class="fas fa-times"></i> 1</li>
                                                        <li>iPhone 11 128GB iPhone 11 128GB 7A - 1</li>
                                                        <li>Xiaomi Redmi 7A - 1</li>
                                                    </ul>
                                                </td>
                                                <td class="a-right a-right">
                                                    <i class="fas fa-circle red"></i>
                                                    Chưa Chấp Nhận
                                                </td>
                                                <td class="giua"><a href=""><i class="far fa-edit"></i></a></td>
                                                <td class="last">
                                                    <a href=""><i class="fas fa-trash-alt"></i></a>
                                                </td>

                                            </tr>
                                            <tr class="even pointer">
                                                <td class="a-center ">
                                                    <div class="icheckbox_flat-green" style="position: relative;">
                                                        <input type="checkbox" class="flat" name="table_records"
                                                               style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper"
                                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                </td>
                                                <td>TK1</td>
                                                <td>Nguyễn Huy Thành Sang</td>
                                                <td>Sang</td>
                                                <td>sang@gmail.com</td>
                                                <td class="giua"><i class="fas fa-users-cog"></i> Admin </td>
                                                <td class="a-right a-right "> <i class="fas fa-circle green"></i> Chấp Nhận </td>
                                                <td class="giua"><a href=""><i class="fas fa-check green i-size"></i></a></td>
                                                <td class="last">
                                                    <a href=""><i class="fas fa-times red i-size"></i></a>
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
