@model dynamic

@{
    ViewBag.Title = "Xem User";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Xem User</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Xem User</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row right-content-phan-2">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 bg-form-right-content">
                                <div class="input-group mb-3 gian-cach">
                                    <div class="input-group-prepend">

                                        <span class="input-group-text">
                                            <label for="input-name">
                                                Họ và Tên<i class="fas fa-arrow-right"></i>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nhập Họ Tên Của Bạn" id="input-name"
                                           name="nname" value="Nguyễn Huy Thành Sang">
                                </div>
                                <div class="input-group mb-3 gian-cach">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="input-email">
                                                Email <i class="far fa-envelope"></i>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nhập Email Của Bạn" id="input-email"
                                           name="nemail" value="sang@gmail.com">
                                </div>
                                <div class="input-group mb-3 gian-cach">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="input-sdt">
                                                Số Điện Thoại <i class="fas fa-mobile-alt"></i>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nhập Số Điện Thoại Của Bạn" id="input-sdt"
                                           name="nsdt" value="987654321">
                                </div>
                                <div class="input-group mb-3 gian-cach">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="input-dia-chi">
                                                Địa Chỉ <i class="fas fa-home"></i>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nhập Địa Chỉ Của Bạn" id="input-dia-chi"
                                           name="ndiaChi" value="Là Địa Chỉ 2ewyqfeuqw">
                                </div>
                                <ul class="gioi-tinh gian-cach">
                                    <span class="title-gioi-tinh">Giới Tính</span>
                                    <li>
                                        <div class="form-check-inline">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="input-gioi-tinh-nam" name="gioi-tinh"
                                                       value="1" checked="">
                                                <label class="custom-control-label" for="input-gioi-tinh-nam">Nam </label>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check-inline">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" value="2" class="custom-control-input" id="input-gioi-tinh-nu"
                                                       name="gioi-tinh">
                                                <label class="custom-control-label" for="input-gioi-tinh-nu">Nữ </label>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check-inline">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" value="3" class="custom-control-input" id="input-gioi-tinh-khac"
                                                       name="gioi-tinh">
                                                <label class="custom-control-label" for="input-gioi-tinh-khac">Khác </label>
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                                <script>
                        numberGioiTinh = 1;

                        function outputGioiTinh(numberGioiTinh) {
                          if (numberGioiTinh == 2) {
                            document.getElementById("input-gioi-tinh-nam").checked = false;
                            document.getElementById("input-gioi-tinh-nu").checked = true;
                          } else if (numberGioiTinh == 3) {
                            document.getElementById("input-gioi-tinh-nam").checked = false;
                            document.getElementById("input-gioi-tinh-khac").checked = true;
                          }
                        }
                        outputGioiTinh(numberGioiTinh);
                                </script>
                                <div class="input-group mb-3 gian-cach">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label for="date">
                                                Ngày Sinh <i class="far fa-calendar-alt"></i>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="ngày / tháng / năm" name="date" id="date"
                                           value="">
                                </div>
                                <div class="row khoang-cach-xa">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-block" type="button">
                                            Quay
                                            lại
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-block" type="button">Lưu</button>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                            </div>

                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
