<div class="modal" id="myModalQMK">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
                                                            id="signin"></a>
                <div class="login_wrapper">
                    <div class="animate form login_form">
                        <section class="login_content">
                            <form id="formQMK" method="post" >
									<div class="container-fluid dang-nhap">
										<div class="row">
											<div class="col-sm-1"></div>
											<div class="col-sm-10">
												<div id="title"><span>Quên Mật Khẩu</span></div>
											</div>
											<div class="col-sm-1"></div>
										</div>
										<div class="user-pass">
											<div class="user khoang-cach">
												<input type="text" name="uname" id="userQMK" placeholder="Tài Khoản" />
											</div>
											<div class="col-sm-12 khoang-cach-qmk">
											<div class="spinner-border text-primary icon-xoay"></div>
											<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-6"><div id="errorMessqmk"></div></div>
										<div class="col-sm-3"></div>
										</div>
											</div>
										</div>
										<div class="sign-in btnqmk">
											<button type="submit" class="btn-btnqmk"><span>Lấy Mật Khẩu</span></button>
										</div>

										<div class="row dang-nhap-phan-2">
											<div class="col-sm-1"></div>

											<div class="col-sm-10">
												<div class="dang-ki " >
													<span><a href="#" id="qmk-login"><i class="fas fa-sign-in-alt"></i></i> Đăng Nhập</a></span>
												</div>
											</div>
											<div class="col-sm-1"></div>
										</div>
									</div>
								</form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
