@{
    Layout = null;
    string key = ViewBag.Key;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (key == null)
        {
            Html.ActionLink("Index", "Home");
        }
        else
        {
        <p> Mật khẩu của bạn hiện tại là @key.ToString()</p>  
        }
      
    </div>
</body>
</html>