@{
    Layout = null;
    string key = ViewBag.Key;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Mật khẩu của bạn hiện tại là @key.ToString()
    </div>
</body>
</html>
