*,
h2,
p,
span,
h1,
h3,
h4,
h5 {
    font-family: sans-serif;
}

#carouselId {
    width: 100%;
    position: relative;
    left: 20px;
}

.slide {
    margin: 0;
    padding: 0;
}

.slide img {
    width: 100%;
}

.char_title {
    font-weight: 600;
}

.custom_dropdown {
    display: none;
}

.header_search_input {
    width: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 20px;
}

.header_search_button {
    color: white;
    width: 80px;
}

.btn-search {
    width: 100%;
    height: 43px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #03a9f4;
    border: #03a9f4;
    position: relative;
    left: -27px;
}

/* active */
.btn-search:not(:disabled):not(.disabled):active,
.show>.btn-search.dropdown-toggle {
    border: 1px solid #03a9f4;
}

/* active+focus */
.btn-search:not(:disabled):not(.disabled):active:focus,
.show>.btn-search.dropdown-toggle:focus {
    border: 1px solid #03a9f4;
    box-shadow: 0 0 0 0 rgba(38, 143, 255, .5);
}

/* focus */
.btn-search:focus {
    border: 1px solid #03a9f4;
    box-shadow: 0 0 0 0 rgba(38, 143, 255, .5);
}

.btn-search span i {
    color: white;
    line-height: 32px;
}

.header_search_form {}

.input-search {
    height: 44px;
    width: 100%;
    padding: 0;
    padding-left: 50px;
    border-radius: 3px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-right: 2px;
    font-size: 18px;
    border: 1px solid #03a9f4 !important;
}

.header_search_form_container {
    border: none;
}

.cart_item_image>img {
    width: 120px;
}

.deals_slider_container {
    height: 650px;
}

.advert_image>img {
    width: 120px;
}

.top_bar_user i {
    font-size: 16px;
    font-weight: 500;
}

.top_bar_user div:nth-child(2)::after {
    display: none;
}

.top_bar_user a:hover {
    color: black;
}

.bang-thong-tin-tai-khoan {
    position: absolute;
    top: 50px;
    left: -30px;
    background: #03a9f4;
    border: 1px solid #03a9f4;
    width: 200px;
    border-radius: 3%;
    display: none !important;
}

.bang-thong-tin-tai-khoan::after {
    content: "";
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #03a9f4;
    position: absolute;
    top: -21px;
    left: 85px;
}

.bang-thong-tin-tai-khoan a {
    display: block;
    margin-left: 20px;
    color: white;
}

.top_bar_user:hover>.bang-thong-tin-tai-khoan {
    display: block !important;
    animation: bang-thong-tin-tai-khoan 0.8s;
}

@keyframes bang-thong-tin-tai-khoan {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}